<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>Editing Book</h2>
    <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>

    <div class="form-group">
    <%= form_with model: @book do |f| %>
    <label for="inputName">Title</label>
    <p><%= f.text_field :title, autofocus: true, id:"inputName", placeholder:"Title"%></p>
    </div>

    <div class="form-group">
    <label for="inputImage">Opinions</label>
    <p><%= f.text_field :body, autofocus: true, id:"inputName", placeholder:"Body"%></p>
    </div>
    <%= f.submit "Update Book", class:"btn btn-success" %>
    <br>
    <%= link_to "Show", books_path(@book) %>
    |
    <%= link_to "Back", book_path(@book) %>
    <% end %>
    </div>
  </div>
</div>