<% @books.each do |book| %>
  <div>
  <%= link_to books_path(book.id) do %>
  
  <% end %>
  <p>Title：<%= book.title %></p>
  <p>Body：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
  
  <%= link_to "Destroy", book_path(@book), method: :delete %>
  
  </div>
<% end %>